
@{
    ViewBag.Title = "Index";
}

<h1>Index</h1>

<p>from home controllers index view file</p>

<ul>
    <li>
        <h3>Startup.ce</h3>
        <p>Were we config what frameworks like MVC and how/when to use them.</p>
        <p>Were we config our diffrent Route´s.</p>
        <p>Were we config if we want to use files from the "wwwroot" folder and/or other places.</p>
    </li>
    <li>
        <h3>_ViewImport.cshtml</h3>
        <p>Were we config what using statments.</p>
        <p>Were we config our helper classes to use for all our views.</p>
    </li>
    <li>
        <h3>_ViewStart.cshtml</h3>
        <p>Were we can set what layout to use for our view instead of needing to set that per individual view.</p>
    </li>
</ul>