
@{
    ViewBag.Title = "Index";
}

<h1>Index</h1>

<p>from home controllers index view file</p>

<ul>
    <li>
        <h3>Startup.ce</h3>
        <p>Were configuer what frameworks were use and how/when</p>
    </li>
</ul>