@model List<Car>
@{
    ViewBag.Title = "Car listings";
}

    <a asp-action="Create" >Create a Car</a>

<table>
    <thead>
        <tr>
            <th>Brand</th>
            <th>Model name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Car item in Model)
        {
            <tr>
                <td>@item.Brand</td>
                <td>@item.ModelName</td>
            </tr>
        }
    </tbody>
</table>