
@{
    ViewBag.Title = "Car listings";
}

    <table>
        <thead>
            <tr>
                <th>Brand</th>
                <th>Model name</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.CarList != null && ViewBag.CarList is List<Car>)
            {
                foreach (Car item in ViewBag.CarList as List<Car>)
                {
                    <tr>
                        <td>@item.Brand</td>
                        <td>@item.ModelName</td>
                    </tr>
                }
            }
        </tbody>
    </table>