
@{
    ViewBag.Title = "Car listings";
}

    <table>
        <thead>
            <tr>
                <th>Brand</th>
                <th>Model name</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>